.container {
  background: url("https://static.wixstatic.com/media/a206d1_f442f74da45741fbb1d4207a33f27ee4~mv2_d_7194_4799_s_4_2.jpg/v1/fill/w_1343,h_433,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a206d1_f442f74da45741fbb1d4207a33f27ee4~mv2_d_7194_4799_s_4_2.jpg");
  display: flex;
  justify-content: center;
}
.carta {
  width: 70%;
  background: #000;
  align-items: center;
}
.containerMenu {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15em);
  gap: 30px;
  justify-content: center;
}
