.titleContainer {
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  width: 100%;
}

.title span {
  color: red;
  margin-left: 30px;
}

.title span:hover {
  cursor: pointer;
}

.noticiaTitle {
  margin: 15px 0;
  
}

.noticiaTitle:hover{
    color: red;
    cursor: pointer;
}

.separador {
  border: 1px solid #cacaca;
  margin-bottom: 20px;
}

.noticiaCard img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.imageNoticia {
  width: 100%;
}

@media(max-width:470px){
  .title {
    font-size: 0.9em;
  }
}