* {
  color: #fff !important;
}
/* Header */

.logo-restaurante {
  height: 40px;
  margin-left: 50px;
}
header {
  background: #181818;
  min-height: 20vh;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.option {
  font-family: "Pangolin", cursive;
}

.option a:hover {
  color: #ffa500 !important;
  font-size: 1.03rem;
}

/* Seccion principal */

.imagen-slider {
  padding: 0;
}

.imagen-encima {
  max-width: 40%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.contenedor-imagenes-slider {
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nosotros-container {
  background-image: url("../img/slider/foton_pizzas.jpg");
}
.titulo-nosotros {
  font-family: "Pangolin", cursive;
  font-size: 4rem;
  font-weight: bold;
  margin: 40px 0;
  padding-top: 20px;
  text-align: center;
}

.descripcion-nosotros {
  font-family: Pangolin, cursive;
  font-size: 2rem;
  margin-bottom: 150px;
  padding: 0 50px;
  text-align: center;
}

.container-productos {
  background: #181818;
}
.row {
  justify-content: center;
  gap: 20px;
}
.grid-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.columna-cards {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 18rem;
}
.card-fondo-texto {
  background: #181818;
  font-family: Pangolin, cursive;
}
.card {
  border: 3px solid #ffa500;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  position: relative;
}
.boton-productos {
  height: 70px;
  width: 200px;
  background: #ffa500;
  text-align: center;
  font-family: Pangolin, cursive;
  font-size: 1.2rem;
  margin: 20px 0 50px 0;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boton-productos:hover {
  opacity: 0.7;
}

.boton-productos a {
  text-decoration: none;
}

.footer-container {
  height: 150px;
  background: #000;
  font-family: pangolin, cursive;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer-container i, span{
  font-size: 1rem;
}
.contacto{
  width: 20%;
  margin-left: 20px;
}
.mail{
  margin-right: 10px;
}
.logo-footer{
  width: 50%;
  display: flex;
  justify-content: center;
}
.img-footer-pizzeria{
  width: 320px;
}
.redes-sociales{
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.redes-sociales i{
  font-size: 2rem;
}

.redes-sociales i:hover{
  cursor: pointer;
  color: #ffa500 !important;
  
}

@media screen and (max-width: 675px) {
  
  .titulo-nosotros {
    font-size: 2rem;
    padding-top: 10px;
    margin: 10px;
  }

  .descripcion-nosotros {
    font-size: 1rem;
    text-align: center;
    padding: 0 20px;
  }

  .boton-productos{
    margin: 10px ;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;;
  }

  .img-footer-pizzeria{
    width: 200px;
  }
  .contacto, .logo-footer, .redes-sociales{
    width: 100%;
    margin: 10px 0;
  }

  .contacto{
    text-align: center;
    font-size: 0.8rem;
  }
}
