* {
  color: #fff !important;
}
/* Header */

.logo-restaurante {
  height: 40px;
  margin-left: 50px;
}
header {
  background: #181818;
  min-height: 20vh;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.option {
  font-family: "Pangolin", cursive;
}

.option a:hover {
  color: #ffa500 !important;
  font-size: 1.03rem;
}

/* Seccion principal */

.imagen-slider {
  padding: 0;
}

.imagen-encima {
  max-width: 40%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.contenedor-imagenes-slider {
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nosotros-container {
  background-image: url("../img/slider/foton_pizzas.jpg");
}
.titulo-nosotros {
  font-family: "Pangolin", cursive;
  font-size: 4rem;
  font-weight: bold;
  margin: 40px 0;
  padding-top: 100px;
  text-align: center;
}

.descripcion-nosotros {
  font-family: Pangolin, cursive;
  font-size: 2rem;
  margin-bottom: 150px;
  padding: 0 50px;
  text-align: center;
}

@media screen and (max-width: 675px){
  .titulo-nosotros{
    font-size: 2.5rem;
    padding-top: 10px;
    margin: 10px;
  }

  .descripcion-nosotros{
    font-size: 1rem;
    text-align: center;
    padding: 0 20px;
  }
}
