* {
  color: #fff !important;
}
/* Header */

img{
    height: 40px;
    margin-left: 50px;
}
header {
  background: #181818;
  height: 20vh;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
 
}

.option{
    
    font-family: 'Pangolin', cursive;
}

.option a:hover{
    color: #ffa500 !important;
    font-size: 1.03rem;
}
