.containerCard {
  display: flex;
  border: none;
  width: 18em;
 
}
.textCard {
  background: #181818;
  font-family: Pangolin, cursive;
  padding: 10px 0;
}

.containerCard:hover {
  cursor: pointer;
}
.cardTitle {
  margin: 10px 0
}
