.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.optionMenu {
  width: 100%;
  margin: 0 !important;
  display: flex;
  justify-content: end;
  padding-right: 70px;
  font-weight: 500;
}

.logo {
  padding-left: 70px;
}

@media (max-width: 991px) {
  .logo {
    padding-left: 10px;
  }
  .optionMenu{
    width: 100%;
    align-items: center;
    padding: 0;
  }
}
