
.containerNavbar {
  background: #181818;
  min-height: 20vh;
  padding: 0 45px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.logo {
  height: 40px;
}
.option {
  font-family: "Pangolin", cursive;
}

.option:hover {
  color: #ffa500 !important;
  font-size: 1.03rem;
}

.menuResponsive  {
  background-color: #ffa500;
}

@media screen and (max-width: 991px) {
    .menu{
        width: 100%;
        align-items: center;
        padding: 0;
    }
}