.titleContainer{
    font-size: 1.2em;
    font-weight: 500;
    height: 50px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 0;
}

@media (max-width:750px) {
    .oculto{
        display: none !important;
    }
}